<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Educate</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>
<body>
    <div id="hook">
        <header>
            <div class="navbar">
                <div class="logo">
                    <img src="logo.png" alt="" width="100px" height="100px">
                    <h1>MasterSkills</h1>
                </div>
                <div class="navMenu">
                    <div class="navItem">
                        <a href="/" class="navLink">Home</a>
                    </div>
                    <div class="navItem">
                        <a href="/about" class="navLink">About</a>
                    </div>
                </div>
            </div> 
        </header>

        <div class="mainAbout">
            <div class="container">
                <h1>Welcome to "Educate!"</h1>
                <p>We work towards making learning easier and accessible to all! <br>
                Get all the best courses about almost anything from the best instructors in the world!
                <br> <br> <br>
                This project is created by team efforts of Saif, Talha Taimoor and Hamza for DBS course.</p>
            </div>
        </div>
</body>
</html>
